.aboutus-hero-main-wrapper {
  inline-size: 100%;
  block-size: 100%;

  & .aboutus-hero-main {
    inline-size: 100%;
    position: relative;
    block-size: 80svh;
    top: 80px;
    background: url(https://res.cloudinary.com/dzjlqmjht/image/upload/v1726498889/users_dp/titm92chbve0uotapr0r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    padding-top: 180px;
    z-index: 1;

    & h1 {
      font-size: var(--h3);
    }
    & p {
      max-inline-size: 450px;
      margin-block-start: -20px;
      margin-block-end: 40px;
    }
  }
}
