.reach-us {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* block-size: 100px; */
  inline-size: 90%;
  background-color: var(--blue);
  color: var(--white);
  margin: auto;
  padding-inline: 30px;
  border-radius: var(--radius);
  margin-block-end: -3rem;
  position: relative;

  & h3 {
    flex: 1;
    max-inline-size: 50%;
  }
  & .reachus-form {
    border-radius: 5px;
    display: flex;
    /* max-inline-size: 50%; */

    & input {
      outline: none;
      border: 0;
      border-radius: 10px 0px 0px 10px;
      block-size: 50px;
    }

    & .btn {
      font-size: 14px;
      border-radius: 0px 10px 10px 0px;
      background-color: blue;
      block-size: 50px;
      padding-inline: 10px;
    }
  }
}

@media (width >= 767px) {
  .reach-us {
    display: flex;
    padding-inline: 5rem;
    & input {
      inline-size: 300px;
    }
  }
}

@media (width <= 200px) {
  .reach-us {
    display: flex;
    padding-inline: 2px;
    & .reachus-form {
      & input {
        inline-size: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-block-end: 5px;
      }

      & .btn {
        padding: 10px;
        inline-size: 100%;
        border-radius: 5px;
        background-color: var(--blue);
      }
    }
  }
}
