.hero-main-wrapper {
  inline-size: 100%;
  block-size: 500px;

  & .hero-main {
    inline-size: 100%;
    block-size: 100%;
    position: relative;
    top: 80px;
    background: url("../../assets/Home.png");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    padding-top: 110px;
    z-index: 1;

    & h1 {
      font-size: var(--h3);
    }
    & p {
      max-inline-size: 450px;
      margin-block-start: -20px;
      margin-block-end: 40px;
    }
  }
}

.btn {
  border: 2px solid currentColor;
  border-radius: 10px;
  /* color: var(--blue); */
  font-size: 20px;
  font-weight: 600;
  overflow: clip;
  width: fit-content;
  padding-inline: 20px;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #5f9eeb;
}

@media (width <= 500px) {
  .hero-main-wrapper {
    & .hero-main {
      & h1 {
        font-size: var(--h3);
      }
    }
  }

  .contact-cards-wrapper {
    & .contact-single-card {
      min-inline-size: 120px;
      max-block-size: 135px;

      & img {
        inline-size: 30px;
      }
    }
  }
}

@media (width >= 768px) {
  .hero-main-wrapper {
    inline-size: 100%;

    & .hero-main {
      min-block-size: 60%;
      background-size: cover;
      margin-bottom: -50rem;
    }
  }
}

@media (width >= 1400px) {
  .hero-main {
    inline-size: 100%;
    min-block-size: 80%;

    & p {
      font-size: 25px;
      min-inline-size: 800px;
      font-weight: 500;
    }

    & button {
      margin-block-end: 20px;
    }
  }
}

@media (width >= 2000px) {
  .hero-main-wrapper {
    inline-size: 100%;
    block-size: 900px;
    & .hero-main {
      inline-size: 100%;
      min-block-size: 100%;
    }
  }
}
