.recordsBody {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5c9ae5;
  background: #fafafa;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: transparent;
  margin-bottom: 1rem;

  & input {
    border-radius: 20px;
    margin-inline-start: -2rem;
    height: 40px;
  }
}

.input .search {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

::placeholder {
  color: #5c9ae5;
  padding-inline-start: 28px;
}

.sectionMenu {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.record-section {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  padding-top: 0px;
}

/* .record-section2 {
  min-inline-size: 74%;
  display: flex;
  justify-content: space-between;
} */

.record-section2 {
  display: grid;
  grid-template-columns: 320px 340px 1fr;
}

.record-section2 {
  & nav:nth-child(1) {
  }

  & nav:nth-child(3) {
  }
}

.recordsBody > .recordsCategory {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & div {
    width: 30%;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    & div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;

      & span {
        font-size: 1.5rm;
      }
    }
  }
}

.section > span {
  /* font-size: 1.5rem; */
  font-weight: 700;
}
aside {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside > .recordHolder {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

aside > .recordHolder > .record {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.record > nav {
  width: 25%;
  font-size: 1rem;
  font-weight: light;
}
.recordBtn {
  width: 20%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}
.recordBtn > button {
  width: 6rem;
  border: none;
  border-radius: 5px;
  color: #5c9ae5;
  cursor: pointer;
  background: #dbdbdb;
  font-size: 1rem;
}
button:hover {
  background: #dbdbdbc2;
  transition: all 350ms ease-in-out;
  color: #5c9ae7;
}

@media (width <= 768px) {
  .record-input {
    margin-top: 5rem;
  }
  .recordsBody {
    height: auto;

    & input {
      height: 40px;
    }

    & .record-section {
      margin-block-start: 3rem;
      margin-block-end: 6rem;

      & nav:nth-child(3) {
        display: none;
      }
    }

    .sectionMenu {
      display: grid;
      grid-template-columns: 100px 100px 100px 1fr;
      margin-bottom: 1rem;
    }

    .record-section2 {
      display: grid;
      grid-template-columns: 100px 100px;
    }

    .recordHolder .record > nav {
      display: flex;
      justify-content: flex-start;
    }
  }
  .record nav:nth-child(3) {
    display: none;
    border: 3px solid red;
  }
}

.record-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: transform 3s ease-in-out;
}

.record-box:hover {
  transform: translateY(10%);
}

.recordBtn {
  & .record-btn {
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--blue);
    height: 30px;
  }

  & .record-btn:hover {
    background-color: transparent;
    color: black;
    border-radius: 10px;
  }
}
