.login-page {
  width: 100%;
  background: linear-gradient(180deg, #5f9eeb 0%, #315682 100%);
  display: grid;
  place-items: center;
  block-size: 100svh;

  & input,
  & select {
    height: 40px;
  }
}

.login-wrapper {
  width: 80%;
  margin: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* justify-content: space-around; */
  border-radius: 10px;
  padding-top: 20px;
}
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 90%;
}

/* login Form */

.login-form {
  width: 60%;
  text-align: center;

  & .formText {
    margin-block-end: 20px;
    text-align: start;

    & h3 {
      color: var(--blue);
    }

    & p {
      max-width: 400px;
    }
  }

  & label {
    & input {
      inline-size: 100%;
      margin-block-end: 10px;
    }
  }
}

.password-input {
  & .password-input-wrapper {
    position: relative;
    & .password-icon {
      position: absolute;
      top: 25%;
      right: 20px;
      cursor: pointer;
    }
  }
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
}

@media (width <= 767px) {
  .login-wrapper {
    width: 90%;
    & .login-form {
      width: 90%;
    }
  }
}

@media (width <= 400px) {
  .login-page {
    block-size: 100%;
  }
}

.btn1:hover {
  cursor: pointer;
  font-size: bold;
  background-color: blue;
  color: white;
}
