.otp-page {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #5f9eeb 0%, #315682 100%);
  display: flex;
  justify-content: center;
  align-items: center;

  & input,
  & select {
    height: 40px;
  }
}

.otp-wrapper {
  width: 50%;
  margin: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.otp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 90%;
}

/* otp Form */

.otp-form {
  width: 60%;
  text-align: center;

  & .formText {
    margin-block-end: 20px;
    text-align: start;

    & h2 {
      font-size: 30px;
      max-width: 300px;
      margin-block-start: 10px;
    }

    & p {
      max-width: 400px;
    }
  }

  & .otp-container {
    display: flex;
    justify-content: center;
    margin-block-end: 20px;
  }
}

@media (width <= 767px) {
  .otp-wrapper {
    width: 90%;
    & .otp-form {
      width: 90%;
    }
  }
}
