.signup-page {
  width: 100%;
  background: linear-gradient(180deg, #5f9eeb 0%, #315682 100%);
  display: grid;
  place-items: center;

  & input,
  & select {
    height: 40px;
  }
}

.signup-wrapper {
  width: 80%;
  margin: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding-top: 20px;
}
.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 90%;
  /* margin-block-start: -30px; */
}

/* Signup Form */
.signup-form {
  width: 60%;
  text-align: center;

  & .formText {
    margin-block-end: 20px;
    text-align: start;
  }

  & label {
    & input {
      inline-size: 100%;
      margin-block-end: 10px;
    }
  }

  & .date-gender {
    display: flex;
    justify-content: space-between;
    & label:first-child {
      inline-size: 45%;
      & input {
        inline-size: 100%;
      }
    }

    & label:last-child {
      inline-size: 45%;
      & select {
        inline-size: 100%;
      }
    }
  }
}

.password-input {
  & .password-input-wrapper {
    position: relative;
    & .password-icon {
      position: absolute;
      top: 30%;
      right: 20px;
      cursor: pointer;
    }
  }
}

.terms-wrapper {
  margin-block-end: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  & input {
    block-size: 20px;
    width: 20px;
  }

  & span {
    color: #000;
  }
}

Button {
  margin: auto;
  margin-block-end: 20px;
}

@media (width <= 767px) {
  .signup-wrapper {
    width: 90%;
    & .signup-form {
      width: 90%;
    }
  }
}

@media (width <= 400px) {
  .signup-page {
    block-size: 100svh;
  }
}
