.success-page {
  width: 100%;
  background: linear-gradient(180deg, #5f9eeb 0%, #315682 100%);
  display: grid;
  place-items: center;
  block-size: 100svh;

  & input,
  & select {
    height: 40px;
  }
}

.success-wrapper {
  width: 80%;
  margin: 40px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;

  /* justify-content: space-around; */
  border-radius: 10px;
  padding-top: 20px;
}
.success-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 90%;
}

/* reset-password Form */

.formText {
  margin-block-end: 20px;
  text-align: start;
}

.success-main {
  width: 60%;
  text-align: center;

  & .success-main-first {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  & h1 {
    font-size: 30px;
  }
  & p {
    margin-block-end: 50px;
    font-weight: 500;
  }
}

@media (width <= 767px) {
  .success-wrapper {
    width: 90%;
    & .success-main {
      width: 90%;
    }
  }
}

@media (width <= 400px) {
  .success-page {
    block-size: 100%;
  }
}

 .btn1 {
  min-inline-size: 100%;
  height: 40px;
}

.btn1:hover {
  cursor: pointer;
  font-size: bold;
  /* background-color: #295891d2; */
  color: white;
} 
