.setting-wrapper {
  & input {
    padding-left: 0;
  }

  & select {
    border-radius: 10px;
    border: 2px solid #5c9ae5;
    outline: none;
    padding-left: 20px;
    height: 4rem;
    color: #5c9ae5;
  }
}

@media (width <= 768px) {
  .setting-wrapper {
    padding-top: 5rem;
  }
}
